*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin:0;
    width:100vw;
    height: 100vh;
}

.item {
    position: absolute;
    width:100px;
    height: 100px;
}

.ball{
    top:100px;
    left: 500px;
    background-color: red;
}

.basket{
    background-color: black;
}
.timer{
    position: absolute;
    left:50%;
    border:1px solid black ; 
    width:100px;
    height: 30px;
}
.a,.b{
    position: absolute;
    background-color:black;
    width: 100px;
    height: 100px;
}